.RegistrationPageColTwo {
  background-image: url("../../../assets/RegistrationPageSVG/registrationPage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border-radius: 0px 17px 17px 0px;
}

.RegistrationPageColOne {
  background-color: #f3f3f3;
  color: #ed960b;
  border-radius: 17px 0px 0px 17px;
}

.RegistrationPageCard {
  padding: 5%;
}

.RegistrationPageRow {
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .RegistrationPageColOne {
    border-radius: 17px 17px 17px 17px;
  }
  .RegistrationPageColTwo {
    display: none;
  }
}
